<table border="1">
    <tr>
        <td>joueur</td>
        <td>competition</td>
        <td>Apps</td>
        <td>Mins</td>
        <td>Buts</td>
        <td>points decisives</td>
        <td>Jaune</td>
        <td>Rouge</td>
        <td>tpm</td>
        <td>pr</td>
        <td>AG</td>
         <td>hddm</td>
          <td>note</td>
            <td>Action</td>
    </tr>
     {% for per in performances %}
     <tr>
      <td>{{ per.joueurP.getNom() }}</td>
        <td>{{ per.competitionP.getNom()}}</td>
        <td>{{ per.Apps}}</td>
         <td>{{ per.Mins}}</td>
          <td>{{ per.Buts}}</td>
           <td>{{ per.PointsDecisives}}</td>
            <td>{{ per.Jaune}}</td>
             <td>{{ per.Rouge}}</td>
              <td>{{ per.TpM}}</td>
                <td>{{ per.Pr}}</td>
               <td>{{ per.AeriensG}}</td>
                 <td>{{per.HdM}}</td>
                <td>{{ per.Note}}</td>
                  <td><a href="{{ path('updatePerformance',{'id':per.id}) }}">Update</a>
                <a href="{{ path('deletePerformance',{'id':per.id}) }}">Delete</a>
                 <a href="{{ path('showPerformance',{'id':per.id}) }}">Show</a></td>
        </tr>
                
    {% endfor %}
          
       
</table>
